@tailwind base;
@tailwind components;
@tailwind utilities;


.movieImg{
width: 100%;
aspect-ratio: 3/4;
object-fit: cover;

}

/* MovieCard styling */

.button{
    padding: 10px;
    background-color: rgb(172, 54, 54);
    color: white;
}
.button:hover{
  background-color: rgb(190, 38, 38);
}
.movieCardImg{
  width: 400px;
  height: 500px;
  border-radius: 8px;
}